.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    // z-index: 10;
    user-select: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
  }
  
  .cart-icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-icon {
    filter: invert(1);
    max-width: 100%;
    height: auto;
  }
  
  .cart-quantity {
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 0;
  }

  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    transform: translateX(400px);
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    transition: 0.5s;
    h2 {
      display: flex;
      justify-content: flex-end;
    }
    span {
      width: 100%;
      height: 0.5px;
      background: white;
      color: white;
      display: block;
      margin: 2rem auto;
      opacity: 0.5;
    }
  }

  .cart-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow-y: scroll;
  }

.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 20px;
  margin: 2rem;
  cursor: pointer;
}

.cart-product {
  margin: 0.5rem 0;
}

.cart-total-container {
  // position: absolute;
  //   bottom: 3%;
  //   width: 100%;
  //   padding: 2rem;
  //   left: 50%;
  //   transform: translate(-50%);
}